name: brew test-bot

on:
  - push
  - pull_request

jobs:
  test-bot:
    runs-on: macos-latest

    steps:
      - name: Check out tap
        uses: actions/checkout@v4

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Run brew test-bot
        run: |
          set -e
          brew test-bot --only-tap-syntax

      - name: Run brew install ioninja
        run: |
          set -e
          brew install ioninja
